@import "./transitions.scss";
@import "./global.scss";

* {
  box-sizing: border-box;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 14px;
  margin: 0;
  outline: none;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;

  &.unscrollable {
    overflow-y: hidden;
  }
}

body,
header,
html,
main {
  width: 100%;
}

/* START: Header */
.site-topbar {
  background-color: $header-background-color;
  height: $site-header-height;
  position: fixed;
  z-index: 9;

  .site-container {
    display: flex;
    height: inherit;

    .topbar-left {
      min-width: $sidebar-width;
      padding: 0.5em 1em;
      width: $sidebar-width;

      a {
        &.topbar-brand {
          align-items: center;
          color: $button-primary-light-text-color;
          display: flex;
          float: left;
          height: 100%;
          max-width: 125px;
          text-decoration: none;

          img {
            height: 30px;
            width: 30px;
          }

          >span {
            padding: 0.5em;
          }
        }
      }

      .leftbar-toggle-btn {
        background-color: transparent;
        display: none;
      }
    }

    .topbar-right {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 3em;

      .vehicles-nav_container {
        height: 100%;

        .vehicles-nav_toggle {
          align-items: center;
          background-color: $button-primary-background-color;
          color: $button-primary-light-text-color;
          height: 100%;
          justify-content: center;
          max-width: 10em;
          padding: 0 0.4em;
          z-index: 1;
        }

        .vehicles-nav_list {
          display: flex;
          height: 100%;
          list-style: none;
          max-height: 0;
          overflow-y: hidden;

          li {
            align-items: center;
            display: flex;
            cursor: pointer;
            font-size: 14px;
            min-width: 7em;

            &:hover {
              background-color: rgba(255, 255, 255, 0.2);
            }

            >a {
              align-items: center;
              color: $button-primary-light-text-color;
              display: flex;
              height: 100%;
              justify-content: center;
              opacity: 0.5;
              padding: 0.5em;
              text-decoration: none;
              width: 100%;

              &.active {
                background-color: $button-primary-background-color;
                opacity: 1;
              }
            }

            >span {
              color: #000;
              font-weight: 500;
              padding: .5em;
            }
          }
        }
      }

      .utils-nav_container {
        position: absolute;
        z-index: 1;
        display: flex;
        max-width: 100%;
        padding: 0 .5em;
        justify-content: flex-end;
        right: 0;

        &.extended {
          .topbar-search-container {
            .search-n-settings {
              box-shadow: 0px 0px 10px 5px #343a4080;
            }
          }
        }

        .topbar-search-container {
          display: flex;
          flex: 1 0 auto;
          float: left;
          height: 30px;
          justify-content: flex-end;
          position: relative;

          >*,
          #global_search {
            height: 100%;
          }

          .search-n-settings {
            display: flex;
            position: relative;
            transition: width 0.5s ease-out;
            width: 0;

            #global_search {
              background-color: #fff;
              color: #000;
              padding-left: 0.5em;
              width: 100%;
            }

            .search-input-container {
              position: relative;
              width: calc(100% - #{$search-settings-button-width});

              .clear-search {
                cursor: pointer;
                height: 100%;
                position: absolute;
                right: 0;
                text-align: center;
                top: 0;
                width: 2em;

                .fa-times {
                  height: inherit;
                  z-index: 3;
                }
              }
            }

            .settings-btn {
              .fa-sliders-h {
                font-size: 1em;
                color: $button-primary-light-text-color;
              }
            }

            .settings-btn {
              cursor: pointer;
              background-color: $button-primary-background-color;
              border: none;
              outline: none;
              position: relative;
              width: $search-settings-button-width;
            }

            .search-results__container {
              height: 250px;
              left: 0;
              position: absolute;
              top: 30px;
              width: calc(100% - #{$search-settings-button-width});
              z-index: 2;

              .search-results {
                background-color: #fff;
                box-shadow: 0 10px 15px -5px #{$header-background-color}80,
                -5px 5px 15px -5px #{$header-background-color}80,
                5px 10px 15px -5px #{$header-background-color}80;
                height: 100%;
                overflow-y: scroll;
                width: 100%;

                .empty-results {
                  padding-top: 3em;
                  text-align: center;
                }

                ul {
                  h3 {
                    background-color: $button-primary-background-color;
                    color: $button-primary-light-text-color;
                    padding: .2em;
                  }

                  .brands-dropdown {
                    >button {
                      align-items: center;
                      background-color: #dee3e7;
                      cursor: pointer;
                      display: flex;
                      padding: .2em;
                      text-align: left;
                      width: 100%;

                      .fa-caret-right,
                      .fa-caret-down {
                        position: absolute;
                      }

                      span {
                        margin-left: 1em;
                      }
                    }

                    >ul {
                      &.dropdown-models {
                        list-style: none;

                        li {
                          border-bottom: 1px dotted black;
                          background-color: #f5f5f5;

                          a {
                            color: #000;
                            display: block;
                            padding: .2em .2em .2em 2em;
                            text-decoration: none;
                            width: 100%;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

            .search-settings__container {
              display: none;

              &.visible {
                display: block;
                left: 0;
                position: absolute;
                top: 30px;
                width: calc(100% - #{$search-settings-button-width});
                z-index: 3;

                .search-settings {
                  overflow-y: scroll;
                  background-color: #fff;
                  box-shadow: 0 10px 15px -5px #{$header-background-color}80,
                  -5px 5px 15px -5px #{$header-background-color}80,
                  5px 10px 15px -5px #{$header-background-color}80;
                  max-height: 80vh;
                  min-height: 260px;
                  padding: 1em;
                  width: 100%;

                  >.header {
                    text-transform: uppercase;
                  }

                  .setting {
                    border-bottom: 1px dotted #b0b0b0;
                    margin-top: 1em;

                    .header {
                      margin-bottom: 0.3em;
                      opacity: 0.5;
                      text-align: center;
                      width: 100%;
                    }

                    .body {
                      display: flex;
                      flex-wrap: wrap;
                      justify-content: space-between;
                    }

                    .footer {
                      display: none;
                      color: red;
                      font-size: 0.8em;
                      margin-bottom: .5em;
                      text-align: center;
                      width: 100%;

                      &.visible {
                        display: block;
                      }
                    }
                  }

                  .setting-types {
                    .checkbox-label {
                      display: flex;
                      align-items: center;
                      padding: .5em;
                      white-space: nowrap;

                      input[type="checkbox"] {
                        margin-right: .3em;
                      }
                    }
                  }
                }
              }
            }
          }

          .toggle-search-btn {
            cursor: pointer;
            background-color: $button-primary-background-color;
            border: none;
            flex: 0 0 auto;
            outline: none;
            position: relative;
            width: 30px;

            .fa-ban,
            .fa-search {
              font-size: 1em;
              color: $button-primary-light-text-color;
            }
          }
        }
      }
    }
  }
}

/* START: Left Sidebar*/
#left_sidebar {
  height: 100%;
  padding-top: 50px;
  position: fixed;
  top: 0;
  width: $sidebar-width;

  .sidebar-home-link {
    display: none;
  }

  .sidebar-list {
    font-size: 14px;
    height: inherit;
    padding: 0.5em 1em 0;
    list-style: none;

    >.sidebar-dropdown {
      padding: 0.2em 0;
      margin: 0.5em 0;

      &.dropdown-active {
        >ul {
          padding: 0.5em 0 0.5em 2em;
        }

        >button {
          >span {
            opacity: 0.5;
          }
        }

        .dropdown-item {
          >.exact-active {
            opacity: 0.5;
          }
        }
      }

      >button {
        background: none;
        display: block;
        color: inherit;
        font-weight: 600;
        position: relative;
        text-align: left;
        text-decoration: none;
        width: 100%;

        &:hover {
          cursor: pointer;
          color: rgba(0, 0, 0, 0.5);
        }

        span {
          padding-left: 1.5em;
        }

        >.caret-icon {
          height: 100%;
          left: 0;
          position: absolute;
        }
      }

      >ul {
        border: none;
        list-style: none;

        >.dropdown-item {
          padding: 0.25em 0;

          &:hover {
            cursor: pointer;
            color: rgba(0, 0, 0, 0.5);
          }

          >a {
            display: block;
            color: inherit;
            text-decoration: none;
            width: 100%;
          }
        }
      }
    }
  }
}

/* START: Site Main */
main {
  &.site-main {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-top: $site-header-height;
    top: 0;
    z-index: 0;

    .content-container {
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      margin-left: $sidebar-width;
      min-height: 100%;

      &.home {
        margin-left: 0;

        h1 {
          padding-top: 5em;
          text-align: center;
          width: 100%;
        }
      }

      .info-container {
        display: flex;
        flex: 1 0 auto;
        padding: 2em;
        font-size: 14px;
        background-color: #f8f9fa;

        .main-info {
          &.empty-info {
            width: 100%;

            .arrow-left-notice {
              align-items: center;
              display: flex;

              >span {
                padding-left: 1em;
              }
            }

            &.info {
              ul {
                list-style-position: inside;

                li {
                  padding: 0.2em 0;
                }
              }
            }
          }

          >p,
          >div {
            margin-bottom: 2em;
          }

          >div {
            >p {
              >p {
                margin-bottom: .5em;
              }
            }
          }

          h3 {
            border-bottom: 1px solid rgba(55, 58, 60, .5);
            font-weight: 600;
            font-size: 1.5em;
            margin-bottom: 0.5em;
          }
        }

        .common-info {
          img {
            width: 100%;
          }

          table {
            border-collapse: collapse;
            width: 100%;

            thead {
              background-color: #373a3c;
              color: #fff;
              text-align: center;

              th {
                padding: 0.25em;
              }
            }

            td {
              border-top: 1px solid #dee2e6;
              border-bottom: 1px solid #dee2e6;
              padding: 0.75em;
              vertical-align: top;

              &:nth-child(even) {
                padding-left: 0;
                padding-right: 0;
              }
            }
          }
        }
      }
    }
  }
}

/* START: Footer */
footer {
  &.site-footer {
    background-color: #f5f5f5;
    border-top: 1px solid rgba(0, 0, 0, .1);
    flex: 0 1 auto;
    max-height: 50px;
    padding: 1em;

    >div {
      text-align: right;
      padding-right: 7em;

      >span {
        color: #6c757d;
        font-size: 14px;
      }
    }
  }
}

// START: Media queries
@media screen and (max-width: 599px) {

  /* START: Header */
  .site-topbar {
    .site-container {
      div {
        &.topbar-left {
          min-width: auto;
          padding: .5em 0;
          width: auto;

          a {
            &.topbar-brand {
              display: none;
            }
          }
        }
      }

      .topbar-right {
        .vehicles-nav_container {
          display: flex;
          flex-direction: column;
          max-width: 50%;
          overflow: hidden;
          width: 50%;

          .vehicles-nav_toggle {
            display: flex;

            >span {
              margin-right: .4em;
            }

            .fa-chevron-down {
              height: inherit;
              width: .7em;
            }
          }

          .vehicles-nav_list {
            &.open {
              box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
              flex-direction: column;
              height: auto;
              max-height: 250px;
              max-width: 250px;
              overflow-y: scroll;
              position: absolute;
              width: 100%;
              top: 50px;
              transition: max-height 0.3s linear;
              z-index: 0;

              li {
                background-color: #f8f9fa;

                >a {
                  color: #000;

                  &.active {
                    color: $button-primary-light-text-color;
                  }
                }
              }
            }
          }

          li {
            >a {
              font-weight: 500;
            }
          }
        }

        .utils-nav_container {
          &.extended {
            width: 100%;

            .topbar-search-container {
              position: initial;

              .search-n-settings {
                position: initial;
                width: 100%;

                #global_search {
                  color: $button-primary-dark-text-color;
                }

                .search-results__container {
                  padding: 0 .5em;
                  width: 100%;
                }

                .search-settings__container {
                  padding: 0 .5em;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }

  /* START: Left Sidebar */
  #left_sidebar {
    .sidebar-home-link {
      background-color: #f8f9fa;
      display: block;
      padding: 0.5em 0;

      a {
        display: flex;
        color: inherit;
        font-weight: 600;
        padding-left: 1em;
        position: relative;
        text-decoration: none;

        &:focus {
          opacity: 0.5;
        }

        >img {
          width: 1em;
        }
      }
    }

    .sidebar-list {
      padding-top: 0;
    }
  }

  /* START: Site-Main */
  main {
    &.site-main {
      .content-container {
        .info-container {
          flex-direction: column;
          padding: 1.5em;

          .main-info {
            &.info {
              flex-basis: 100%;
              max-width: 100%;
              order: 1;
              margin-right: 0;
            }
          }

        }

        .common-info {
          flex-basis: 100%;
          max-width: 100%;
          padding-bottom: 3em;
        }
      }
    }
  }

  /* START: Footer */
  footer {
    &.site-footer {
      >div {
        padding-right: 2em;
      }
    }
  }
}

@media screen and (min-width: 600px) {

  /* START: Header */
  .site-topbar {
    .site-container {
      .topbar-right {
        padding-right: 1em;

        .vehicles-nav_container {
          display: flex;
          flex-direction: column;
          max-width: 50%;
          overflow: hidden;
          width: 50%;

          .vehicles-nav_toggle {
            display: flex;

            >span {
              margin-right: .4em;
            }

            .fa-chevron-down {
              height: inherit;
              width: .7em;
            }
          }

          .vehicles-nav_list {
            &.open {
              box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
              flex-direction: column;
              height: auto;
              max-height: 250px;
              max-width: 250px;
              overflow-y: scroll;
              position: absolute;
              width: 100%;
              top: 50px;
              transition: max-height 0.3s linear;
              z-index: 0;

              li {
                background-color: #f8f9fa;

                >a {
                  color: #000;

                  &.active {
                    color: $button-primary-light-text-color;
                  }
                }
              }
            }
          }

          li {
            >a {
              font-weight: 500;
            }
          }
        }

        .utils-nav_container {
          &.extended {
            .topbar-search-container {
              .search-n-settings {
                width: 250px;
              }
            }
          }
        }
      }
    }
  }

  /* START: Site-Main */
  main {
    &.site-main {
      .content-container {
        .info-container {
          .main-info {

            &.info {
              flex-basis: 55%;
              max-width: 55%;
            }
          }
        }

        .common-info {
          flex-basis: 45%;
          max-width: 45%;
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {

  /* START: Header */
  .site-topbar {
    .site-container {
      .topbar-right {
        .utils-nav_container {
          &.extended {
            .topbar-search-container {
              .search-n-settings {
                width: 300px;

                .search-input-container {
                  #global_search {
                    background-color: rgba(255, 255, 255, 0.5);
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  /* START: Site-Main */
  main {
    &.site-main {
      .content-container {
        .info-container {
          .main-info {
            &.info {
              flex-basis: 60%;
              max-width: 60%;
              margin-right: 1em;
            }
          }
        }

        .common-info {
          flex-basis: 40%;
          max-width: 40%;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {

  /* START: Header */
  .site-topbar {
    .site-container {
      .topbar-right {
        .vehicles-nav_container {
          .vehicles-nav_toggle {
            display: none;
          }

          .vehicles-nav_list {
            max-height: 100%;
          }
        }
      }
    }
  }

  /* START: Site-Main */
  main {
    &.site-main {
      .content-container {
        .info-container {
          .main-info {
            &.info {
              flex-basis: 66.666667%;
              max-width: 66.666667%;
            }
          }
        }

        .common-info {
          flex-basis: 33.333333%;
          max-width: 33.333333%;
        }
      }
    }
  }
}

@media screen and (max-width: 1336px) {

  /* START: Header */
  .site-topbar {
    .site-container {
      .topbar-left {
        padding-right: 0;

        .leftbar-toggle-btn {
          display: block;
          float: right;
          height: 100%;
          padding: 0 1em;

          .fa-bars {
            color: $button-primary-light-text-color;
          }
        }
      }
    }
  }

  /* START: Left Sidebar */
  #left_sidebar {
    left: -$sidebar-width;
    transition: left 1s, transform 0.5s linear;

    &.open {
      left: 0;
      transition: left 0.5s ease-out;

      +.content-container {
        transform: translateX($sidebar-width);
      }
    }
  }

  /* START: Site-Main */
  main {
    &.site-main {
      .content-container {
        margin-left: 0;
        transition: left 1s, transform 0.5s linear;

        .info-container {
          .main-info {
            &.info {
              margin-right: .5em;
            }
          }
        }
      }
    }
  }
}